main{
    height: 500px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    padding: 10px;
    margin: 5px 15px;
    background-color: rgb(27, 2, 30);
    color: rgb(217, 245, 170);
    border-radius: 5px;
    border: 0px; 
    font-weight: bold;
    font-size: 20px;
}
button:hover {
    background-color: rgb(251, 251, 111);
    color: rgb(21, 113, 193);
    cursor: pointer; 
}

.btDiv {
    margin: 20px;
    text-align: center;
}
#msg {
    width: 80%;
    height: 50px;
    margin-top: 20px;
    font-size: large;
    text-align: center;
    align-items: center;
    justify-content: center;    
    /* font-weight: bold; */
    color: rgb(9, 3, 45); */
}
#msg.span {
    font-weight: bold;
}